@font-face {
  font-family: "Antonio";
  unicode-range: U+000-5FF;
  src: local("Antonio"),
    url("/fonts/Antonio-VariableFont.ttf") format("truetype")
}
@font-face {
  font-family: "SpartanBold";
  unicode-range: U+000-5FF;
  src: local("SpartanBold"),
    url("/fonts/Spartan-Bold.ttf") format("truetype")
}
@font-face {
  font-family: "SpartanRegular";
  unicode-range: U+000-5FF;
  src: local("SpartanRegular"),
    url("/fonts/Spartan-Regular.ttf") format("truetype")
}


body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "SpartanRegular";
  font-size: 14px;
  line-height: 25px;
  color: #FFFFFF;
  background-color: #070724;
  background-image: url('./assets/svgs/background-stars.svg');
  height: 100%;
  width: 100%
}

body::-webkit-scrollbar { display: none } // hide scrollbar

label { font-weight: 700 }

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#app { 
  height: 100vh;
}

*,
*:before,
*:after { box-sizing: inherit }

* {
  margin: 0;
  padding: 0;
}

a:focus,
a:active { outline: none }

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus { outline: none }

h1 {
  font-family: "Antonio";
  font-size: 80px;
  line-height: 103px;
}

h2 {
  font-family: "Antonio";
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -1.5px;
}

h3 {
  font-family: "SpartanBold";
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 2.6px;
}

h4 {
  font-family: "SpartanBold";
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 1px;
}
